@model WebApplication1.Models.HD_XUAT

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Sửa hóa đơn xuất</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaHDX" />
            <div class="form-group">
                <label asp-for="MaKH" class="control-label"></label>
                <select asp-for="MaKH" class="form-control" ></select>
                <span asp-validation-for="MaKH" class="text-danger"></span>
            </div>       
            <div class="form-group">
                <label asp-for="Ngay" class="control-label"></label>
                <input asp-for="Ngay" class="form-control" />
                <span asp-validation-for="Ngay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongTien" class="control-label"></label>
                <input asp-for="TongTien" class="form-control" />
                <span asp-validation-for="TongTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhiVanCHuyen" class="control-label"></label>
                <input asp-for="PhiVanCHuyen" class="form-control" />
                <span asp-validation-for="PhiVanCHuyen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongCong" class="control-label"></label>
                <input asp-for="TongCong" class="form-control" />
                <span asp-validation-for="TongCong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
