@model WebApplication1.Models.PHIEU_THU_TIEN

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lstKhachHang = (IEnumerable<SelectListItem>)ViewData["MaKhachHang"];
    string abc = "abibjbj";
}

<h2>Add</h2>

<h4>Thêm phiếu thu tiền</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>         
            <div class="form-group">
                <label asp-for="MaKH" class="control-label">Tên khách hàng</label>
                @Html.DropDownListFor(n => n.MaKH, lstKhachHang)
            </div>
            <div class="form-group">
                <label asp-for="SoTienThu" class="control-label">Số tiền thu</label>
                <input asp-for="SoTienThu" class="form-control" />
                <span asp-validation-for="SoTienThu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayThuTien" class="control-label">Ngày thu tiền</label>
                <input asp-for="NgayThuTien" class="form-control" />
                <span asp-validation-for="NgayThuTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
