@model WebApplication1.Models.KHACH_HANG

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Sửa khách hàng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>          
            <div class="form-group">
                <label asp-for="TenKH" class="control-label">Tên Khách Hàng</label>
                <input asp-for="TenKH" class="form-control" />
                <span asp-validation-for="TenKH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SDT" class="control-label">Sđt</label>
                <input asp-for="SDT" class="form-control" />
                <span asp-validation-for="SDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label">Địa Chỉ</label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TienNo" class="control-label">Tiền nợ</label>
                <input asp-for="TienNo" class="form-control" />
                <span asp-validation-for="TienNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
